{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="titre-form-largeur">
                        <h2>Formulaire d'insription</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-largeur">
                        <div class="form-group">{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}</div>

{#                    pour verifier le tableau#}
{#                    {{ dump(form.plainPassword.first.vars) }}#}

                    {% set class= '' %}
                    {% if not form.Parents_pseudo.vars.valid %}
                        {% set class = "is-invalid" %}
                    {% endif %}
                        <div class="form-group">
                            <label for="{{ form.Parents_pseudo.vars.id }}">Pseudo</label>
                            <input type="text" class="form-control {{ class }}" id="{{ form.Parents_pseudo.vars.id }}" name="{{ form.Parents_pseudo.vars.full_name }}" value="{{ form.Parents_pseudo.vars.value }}">
                            {{  form_errors(form.Parents_pseudo) }}
{#                            sert a passer le submitted en true.#}
                            {% do form.Parents_pseudo.setRendered %}
                        </div>

                    {% set class= '' %}
                    {% if not form.Parents_mail.vars.valid %}
                        {% set class = "is-invalid" %}
                    {% endif %}
                        <div class="form-group">
                            <label for="{{ form.Parents_mail.vars.id }}">Mail</label>
                            <input type="email" class="form-control {{ class }}"  id="{{  form.Parents_mail.vars.id }}" name="{{ form.Parents_mail.vars.full_name }}" value="{{ form.Parents_mail.vars.value }}">
                            {{  form_errors(form.Parents_mail) }}
                            {% do form.Parents_mail.setRendered %}
                        </div>

                    {% set class= '' %}
                    {% if not form.plainPassword.first.vars.valid %}
                        {% set class = "is-invalid" %}
                    {% endif %}
                        <div class="form-group ">
                            <label for="{{  form.plainPassword.first.vars.id }}">Mot de passe</label>
                            <input type="password" class="form-control {{ class }}" id="{{  form.plainPassword.first.vars.id }}" name="{{  form.plainPassword.first.vars.full_name }}" value="{{ form.plainPassword.first.vars.value }}" >
                            {{  form_errors(form.plainPassword.first) }}
                            {% do form.plainPassword.first.setRendered %}
                           </div>

                    {% set class= '' %}
                    {% if not form.plainPassword.second.vars.valid %}
                        {% set class = "is-invalid" %}
                    {% endif %}
                    <div class="form-group ">
                        <label for="{{  form.plainPassword.second.vars.id }}">Mot de passe</label>
                        <input type="password" class="form-control {{ class }}" id="{{  form.plainPassword.second.vars.id }}" name="{{  form.plainPassword.second.vars.full_name }}" value="{{ form.plainPassword.second.vars.value }}" >
                        {{  form_errors(form.plainPassword.second) }}
                        {% do form.plainPassword.second.setRendered %}
                    </div>

                    <button type="submit" class="btn button bouton-form">Je m'inscris</button>
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
