{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                        <div class="form-group">{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}</div>

                    {{ dump() }}

                        <div class="form-group">
                            {{  form_label(form.Parents_pseudo,'Mon pseudo') }}
                            {{  form_widget(form.Parents_pseudo, {'attr':{'class':'form-control'}}) }}
                            {{  form_errors(form.Parents_pseudo) }}
                        </div>
                        <div class="form-group"> {{ form_row(form.Parents_mail, {'attr': {'class': 'form-control'}}) }}</div>
                        <div class="form-group"> {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}</div>
                        <div class="form-group"> {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}</div>

                    <button type="submit" class="btn btn-primary ">Register!</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
