{% extends 'base.html.twig' %}

{% block title %}Ajout du dossier médical{% endblock %}

{% block body %}

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="titre-form-largeur">
                        <h2>Veuillez renseigner quelques informations médical</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-largeur-souscription">
                        <div class="form-group">
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.Medical_Regime) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.Medical_Traitement) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.Medical_Allergie) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.Medical_Handicap) }}
                        </div>

                        <div class="form-group">
                            <button class="btn button bouton-form" type="submit">Ajoutez!</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}
