



<h3>Demande de souscription de {{ name }}</h3>

    <div class="container">
        <div class="content">
            <div class="row">
                <p>Nom : {{ nom }}</p>
                <p>Effectifs: {{ effectifs }} </p>
                <p>Adresse : {{ adresse }}</p>
                <p>Code postal : {{ cp }}</p>
                <p>Ville : {{ ville }}</p>
                <p>Téléphone : {{ telephone }}</p>
                <p>Numéro de siret : {{ siret }}</p>
                <p>Description : {{ description }}</p>
                <p>Horaires : {{ horaires }}</p>
                <p>Capacité : {{ capacite }}</p>

                <a href="{{ url('home') }}">Activez le compte</a>
            </div>
        </div>
    </div>

