{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="titre-form-largeur">
                        <h2>Formulaire de souscription</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-largeur">
                        <div class="form-group">
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_row(form.Entreprises_pseudo) }}
    {{ form_row(form.Entreprises_mail) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.Entreprises_nom) }}
    {{ form_row(form.Entreprises_effectifs) }}
    {{ form_row(form.Entreprises_adresse) }}
    {{ form_row(form.Entreprises_cp) }}
    {{ form_row(form.Entreprises_ville) }}
    {{ form_row(form.Entreprises_telephone) }}
    {{ form_row(form.Entreprises_siret) }}
    {{ form_row(form.Entreprises_description) }}
    {{ form_row(form.Entreprises_horaires) }}
    {{ form_row(form.Entreprises_capacite) }}

    <button type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock %}
