{% extends 'base_landing.html.twig' %}

{% set nomProjet = 'Kidsery' %}

{% block body %}
    <div id="particulier"></div>
    <div class="content">
        <section id="content1-3" class="content1-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="about-content">
                            <h1 class="content-title">Vous êtes un particulier ?</h1>
                            <p class="content-text">{{ nomProjet }} vous propose un service de mise en relation avec les
                                crèches et les assistantes maternelles.
                                En effet, après la création de votre compte, vous pourrez rechercher des professionnels
                                en fonction de vos besoins.
                                Fini les longues listes d'attente, réservez-vous même et dès maintenant en fonction des
                                disponibilités.
                            </p>

                            <div class="text-center">
                                <a href="{{ path('app_register') }}" class="btn bouton button">S'inscrire</a>
                                <a href="{{ path('app_login') }}" class="btn button bouton-form">Connexion</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 image1">

                    </div>
                </div>
            </div>
        </section>

        <hr id="professionel">

        <section id="content1-4" class="content1-4">
            <div class="container">
                <div id="professionel" class="row">
                    <div class="col-md-5 image2">
                        <div></div>
                    </div>
                    <div class="col-md-7">
                        <div class="about-content">
                            <h1  class="content-title">Vous êtes un professionnel ?</h1>
                            <p class="content-text">{{ nomProjet }} vous offre une plus grande visibilité, mais surtout, vous permet de combler les annulations de dernière minute et donc de remplir les places disponibles le plus rapidement possible, sans effort.</p>

                            <div class="text-center">
                                <a href="{{ path('app_registerentr') }}" class="btn bouton button">S'inscrire</a>
                                <a href="{{ path('app_loginentr') }}" class="btn button bouton-form">Connexion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
