{% set nomProjet = 'Kidsery' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ nomProjet }}</title>
    {% block stylesheets %}
        <link href={{ asset('build/vendors~app.css') }} rel="stylesheet" type="text/css">
        <link href={{ asset('build/app.css') }} rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
              integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
              crossorigin=""/>
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

<style media "screen">
        .error{
            border : solid red 1px;
        }
        </style>
        <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

    {% endblock %}
</head>
<body>
<div class="wrapper">
    <header class="header_classico">
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo"><a href="{{ path('landing') }}"><img src="{{ asset('build/images/logokidsery.38e3a536.png') }}" alt="logo kidsery"></a></div>
            <div class="menu">
                <ul>
                    <li><a href="{{ path('landing') }}">Accueil</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('parents') }}">Profil</a></li>
                        <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                    {% endif %}
                    
{#                    <li><a href="#professionel">Professionnel</a></li>#}
                </ul>
            </div>
        </nav>
    </header>
</div>
